<body style="padding-top: 10px">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel-heading">
            <h3>Employee Search Form With Dynamic</h3>
        </div>
        <form asp-controller="Employee" asp-action="SearchWithDynamics">
            <div>
                <label for="firstName">Name</label>
                <br />
                <input type="text" name="Name" placeholder="Name" />
            </div>
            <br />
            <div>
                <label for="Altitude">Altitude</label>
                <br />
                <input type="text" name="Altitude" placeholder="Altitude" />
            </div>
            <br />
            <div>
                <label for="Distance">Distance</label>
                <br />
                <select name="Distance">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <br />
            <div>
                <label for="Model">Dynamic With SQL</label>
                <br />
                <input type="number" name="SearchWithDynamics" placeholder="SearchWithDynamics" />
            </div>
            <br />
            <input type="submit" value="SearchWithDynamics" />
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Altitude</th>
                    <th scope="col">Distance</th>
                    <th scope="col">Model</th>
                </tr>
            <tbody>
                @foreach (var Plane in Model)
                {
                    <tr>
                        <td>@Plane.Name</td>
                        <td>@Plane.Altitude</td>
                        <td>@Plane.Distance</td>
                        <td>@Plane.Model</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>